body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

#main-container {
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}